### Python Basics - Mathametical Operations

In [1]:
4%2

0

In [2]:
4/2

2.0

In [3]:
5//2

2

In [5]:
#bodmas rule
5+3*3

14

In [8]:
type('1.0')

str

In [10]:
a=1
b=2
c=a+b

In [12]:
type(c)

int

In [15]:
#Boolean Operation
type(True and False)

bool

In [16]:
True | False

True

In [19]:
a=10
b=20
a+b>30 or a-b<10

True

In [25]:
str

'I live in hosur'

### Strings

In [7]:
#never use the reserve keyword.otherwise will get error.
Str="I live in hosur"

In [3]:
str

str

In [5]:
str

str

In [8]:
str1="A good boy"
str2="A bad boy"

In [13]:
str1+" "+str2

'A good boy A bad boy'

In [14]:
name=input("My name is")
print(name)

My name isVaishak
Vaishak

In [19]:
###add two numbers
a=input("First number ")
b=input("Second number ")
c=int(a)+int(b)
print("output",c)

First number 10
Second number 20
output 30

In [30]:
a=input ("value1")
b=input("value2")
c=input("value3")
z=int(a)+int(b)+int(c)
print("output",z)

value12
value22
value32
output 6

In [1]:
###string formatting

first_name=input("your first name ")
last_name=input("your last name ")
print("my first name is {firstname} and last name is {lastname}".format(lastname=last_name, firstname=first_name))

your first name vaishak
your last name Chandrababu
my first name is vaishak and last name is Chandrababu

In [8]:
first_value=input("first semester college")
second_value=input("second semester college")
print("first semester college fees {} and second semester college fees {}".format(first_value, second_value))

first semester college1000
second semester college1000
first semester college fees 1000 and second semester college fees 1000

### variable dynamic typing

In [9]:
#there is no need of mentioning specific data type variable as python understands. where it automatically understands which type of data it is and also it should be same datatype
a=12
type(a)

int

In [14]:
#strong typing - concatenation
str(1) + "vaishak"

'1vaishak'

In [25]:
1 + int('2')

3

In [23]:
"ashwin" + str(10)

'ashwin10'

### Conditon Statement

In [35]:
#if and elif
a=input("the first value ")
b=input("the second value ")
c= int(a)*int(b)
print("output", c)
if c<10:
    print("the value is greater")
else:
    print("the value is smaller")

the first value 10
the second value 10
output 100
the value is smaller

In [40]:
a=("d")
b=("aeiou")
c=("bcdfghjklmnpqrstvwxyz")
if a in b:
    print("vowel")
elif a in c:
    print("it is correct")
else:
    print("consonent")

it is correct

# data structures
1. list
2. tuple
3. string
4. dictinary
5. sets

In [41]:
lst=[0,1,2,3,4,5,"vaishak","chandrababu"]

In [43]:
type(lst[4])

int

In [47]:
list([0,1,2,3,4,5,"vaishak","chandrababu"])

[0, 1, 2, 3, 4, 5, 'vaishak', 'chandrababu']

In [49]:
lst.append("Inueron")

In [54]:
lst[0]='Beginner'
print(lst)

['Beginner', 1, 2, 3, 4, 5, 'vaishak', 'chandrababu', 'Inueron']

In [55]:
#indexing
str="vaishak"
str[2]

'i'

In [56]:
str="vaishak"
str[2]

'i'